* text=auto !eol
/Makefile -text
/README.rst -text
bin/sdss_access_http_example_dr12 -text
bin/sdss_access_http_example_sdsswork -text
bin/sdss_access_localpath_example -text
bin/sdss_access_rsync_drpall -text
bin/sdss_access_rsync_example -text
bin/sdss_access_rsync_mangamap_mpl4 -text
bin/sdss_access_rsync_mangamap_mpl5 -text
bin/sdss_access_version -text
etc/config.ini -text
etc/sdss_access.module -text
python/sdss_access/__init__.py -text
python/sdss_access/path/__init__.py -text
python/sdss_access/sync/__init__.py -text
python/sdss_access/sync/auth.py -text
python/sdss_access/sync/cli.py -text
python/sdss_access/sync/http.py -text
python/sdss_access/sync/rsync.py -text
python/sdss_access/sync/stream.py -text
python/sdss_access/sync/system_call.py -text
/setup.py -text
ups/sdss_access.table -text
