language: python

cache:
  pip: true
  timeout: 1000

sudo: false

python:
- '2.7'
- '3.5'
- '3.6'

os:
- linux

matrix:
  fast_finish: true

notifications:
  email: false

# repo branches to test
branches:
- master

install:
- pip install -U pip wheel --quiet
- pip install --upgrade setuptools --quiet
- pip install -r requirements.txt --quiet
- pip install pytest
- pip install pytest-coverage
- pip install coveralls
- python setup.py install

script:
- pytest python/tree/tests --cov python/sdss_access --cov-report html

after_success:
- coveralls
