# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']

    steps:
    - name: Clone access
      uses: actions/checkout@v4
      with:
        path: access

    - name: Clone tree
      uses: actions/checkout@v4
      with:
        repository: sdss/tree
        path: tree

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tree package
      run: |
        python -m pip install --upgrade pip
        cd tree
        pip install .
        cd $GITHUB_WORKSPACE

    - name: Install access dependencies
      run: |
        python -m pip install --upgrade pip
        cd access
        pip install .[dev]

    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Setup SDSS-IV netrc
      uses: extractions/netrc@v1
      with:
        machine: data.sdss.org
        username: ${{ secrets.S4_USERNAME }}
        password: ${{ secrets.S4_PASSWORD }}

    - name: Setup SDSS-V netrc
      uses: extractions/netrc@v1
      with:
        machine: data.sdss5.org
        username: ${{ secrets.S5_USERNAME }}
        password: ${{ secrets.S5_PASSWORD }}

    - name: Test with pytest
      run: |
        cd access
        pip install pytest
        pytest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: ./access/coverage.xml
